.container-titulo{
    display: flex;
    justify-content: center;
}

.titulo{
    font-weight: bold;
    font-size: 35px;
    margin-top: 50%;
}

.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 170%;
}

.container-conversor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-opc{   
     margin-top: 6%;
}

#origem, #destino{
    width: 16vh;
    height: 4vh;
    border: 2px solid gray;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

#trocar{
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    color: blue;
}

.container-input{
    margin-top: 5%;
}

.entrada, .saida{
    height: 9vh;
    width: 19vh;
    border-radius: 18px;
    color: black;
    text-align: left;
    border: 1px solid gainsboro;
    box-sizing: border-box;
    font-size: 150%;
    padding: 5px 5px 5px 10px;
    resize: none;
    gap: 40%;
    text-align: center;
}

.saida{
    background-color: gainsboro;
}

.btn{
    margin-top: 10%;
    border: 1px solid rgb(8, 148, 230);
    font-size: 20px;
    color: white;
    background-color: rgb(8, 148, 230);
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
}

@media (min-width: 1024px){
    .container-titulo{
    margin-top: 5%;
}

.container-input{
    margin-top: 2%;
}

#origem, #destino{
    width: 20vh;
}

.entrada, .saida{
    height: 11vh;
    width: 22vh;
}

.btn{
    margin-top: 4%;
}

}